.city-mapper--sub-categories .comma:last-child{
  display: none;
}

body .city-mapper-thumbnail img{
  width: 100%;
  max-width: 100%;
  height: 300px;
  display: block;
  border-radius: 8px;
  object-fit: cover;
  object-position: top;
}
.city-mapper-bg{
  width: 100%;
  max-width: 100%;
  height: 300px;
  display: block;
  border-radius: 8px;
  background-color: #AFAFAF;
}

body .city-mapper-posts{
  grid-template-columns: 32.5% 32.5% 32.5%;
  gap: 40px 20px;
}
.city-mapper--sub-categories{
  color: #5E5650;
  margin-top: 20px;
}
body .city-mapper-post h3{
  font-size: 24px;
  font-family: "Poppins", Sans-serif;
}

body .city-mapper-tabs{
  justify-content: center;
  padding-bottom: 0;
}

body a.city-mapper-tab {
  color: #1B365D;
  font-weight: bold;
  background: transparent;
  border-bottom: 2px solid transparent;
  margin: 0px 2%;
}
body .city-mapper-tab:hover, .city-mapper-tab.active {
  background: transparent;
  border-bottom: 2px solid #893B67;
  border-left: unset;
  border-right: unset;
  border-top: unset;
}

body .city-mapper-pagination{
  text-align: left;
}
.next.page-numbers, .prev.page-numbers{
  display: inline-block;
}
.next.page-numbers:after, .prev.page-numbers:after{
  width: 14px;
  height: 25px;
  display: block;
  filter: invert(27%) sepia(68%) saturate(509%) hue-rotate(273deg) brightness(95%) contrast(91%);
}
.next.page-numbers:after{
  content: url(icons/arrow-right-solid.svg);
}
.prev.page-numbers:after{
  content: url(icons/arrow-left-solid.svg);
}
.page-numbers {
  margin-right: 18px;
}
.page-numbers.current{
  background-color: #893B67;
  width: 27px;
  display: inline-block;
  text-align: center;
  color: white;
  border-radius: 50px;
  opacity: .5;
}
.page-numbers.dots{
  color: #893B67;
}

.city-mapper-sorting {
    text-align: right;
}

.city-mapper-sorting label {
    margin-right: 10px;
}

.city-mapper-sorting select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

body a.city-mapper-map{
  background-color: #893B67;
  color: white;
  font-weight: 500;
  padding: 9px 22px;
  align-items: center;
  display: flex;
  max-width: 172px;
  justify-content: center;
  border: 1px solid #893B67;
  border-radius: 8px;
  transition: all .2s ease-out;
  width: 100%;
  margin-left: auto;
}
body a.city-mapper-map svg{
  fill: white;
  max-width: 20px;
  margin-right: 5px;
}
body a.city-mapper-map:hover{
  color: #893B67;
  background-color: white;
}
body a.city-mapper-map:hover svg{
  fill: #893B67;
}
.city-mapper-container--top-bar{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  align-items: center;
  margin: 48px 0;
}
.category-showing{
  margin-right: 32px;
}
#city-mapper-sort{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select{
  border: 1px solid #ccc;
  overflow: hidden; 
  height: 48px;    
  width: 220px;
  position: relative;
  display: block;
}
#city-mapper-sort{
  height: 48px;
  padding: 5px;
  border: 0;
  font-size: 16px;       
  width: 220px;
  font-size: 18px;
    margin-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  color: #5e5650;
  font-size: 18px;
  margin-left: 10px;
}
.select:after{
  content:"\f062";
  font-family: "Font Awesome 5 Free";
  color: #FF9426;
  padding: 12px 8px;
  position: absolute; 
  right: 26px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;      
  pointer-events: none;
  box-sizing: border-box;  
  transition: all .2s ease-out;
}
.select:focus-within:after{
  transform: rotate(180deg);
}
@media screen and (max-width: 1024px){
  body .city-mapper-posts {
    grid-template-columns: auto auto;
  }
  .city-mapper-sub-categories{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px){
  body .city-mapper-posts {
    grid-template-columns: auto;
  }
  body a.city-mapper-map{
    margin: 21px auto 0 auto;
    
  }
  .city-mapper-container--top-bar{
    justify-content: center;
  }
  .category-showing, .city-mapper-sorting{
    margin-top: 21px;
  }
}